In [1]:
import pandas as pd
import numpy as np

In [2]:
Companies = pd.read_excel('/Users/abhishekpadala/Desktop/company1.xlsx')
Companies.head(1)

,Unnamed: 0,Address,lat,long
0,0,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",43.653226,-79.383184

In [3]:
Rents = pd.read_excel('/Users/abhishekpadala/Desktop/cap/rental_data.xlsx')
Rents.head(1)

,Unnamed: 0,Rent,Location,lat,long
0,0,"$1,750","70 Temperance St, Unit 4116,Toronto,Ontario",43.65053,-79.382148

In [4]:
!pip install geopy

Requirement already satisfied: geopy in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)

In [5]:
from geopy.distance import geodesic 
comp_lat1 = Companies['lat']
comp_long1 = Companies['long']
comp_name1 = Companies['Address']
rent_loc1 = Rents['Location']
rent_lat1 = Rents['lat']
rent_long1 = Rents['long']

In [6]:
# https://www.geeksforgeeks.org/python-calculate-distance-between-two-places-using-geopy/
from geopy.distance import geodesic

In [7]:
distance = []

for comp in range(0,27):
    comp_add = comp_lat1[comp], comp_long1[comp]
    comp_name = comp_name1[comp]
   # print(comp_ad
   # print(comp_name)
    for i in range(0, 659):
        rent_add = rent_lat1[i], rent_long1[i]
        rent_loc = rent_loc1[i]
        dist = geodesic(comp_add, rent_add).km
        distance.append((comp_name, dist, rent_loc, rent_add))
df1=pd.DataFrame(distance, columns=['comp_name', 'dist', 'rent_loc', 'rent_add'])
df1.head()

,comp_name,dist,rent_loc,rent_add
0,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.310973,"70 Temperance St, Unit 4116,Toronto,Ontario","(43.6505301, -79.3821482)"
1,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.320038,"197 Yonge Street St, Unit 2104,Toronto,Ontario","(43.6535246, -79.3792385)"
2,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.029993,"403 Church St, Unit 1711,Toronto,Ontario","(43.6620656, -79.37933710000001)"
3,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.199541,"25 Oxley St, Unit 413,Toronto,Ontario","(43.6462468, -79.39452849999999)"
4,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.019601,"87 Peter St, Unit 2701,Toronto,Ontario","(43.6469441, -79.3923973)"

In [8]:
df1.tail()

,comp_name,dist,rent_loc,rent_add
17788,"Tenstorrent , Toronto , ON",8.730702,"426 University Ave, Unit 907,Toronto,Ontario","(43.6539487, -79.38857010000001)"
17789,"Tenstorrent , Toronto , ON",7.780631,"21 Carlton St, Unit 2604,Toronto,Ontario","(43.66110270000001, -79.3821061)"
17790,"Tenstorrent , Toronto , ON",8.807886,"70 Temperance St, Unit 1616,Toronto,Ontario","(43.6505301, -79.3821482)"
17791,"Tenstorrent , Toronto , ON",9.362337,"318 Richmond St W St, Unit 3302,Toronto,Ontario","(43.6489001, -79.39220499999999)"
17792,"Tenstorrent , Toronto , ON",8.020853,"763 Bay St, Unit 1107,Toronto,Ontario","(43.6599441, -79.3851875)"

In [9]:
df1.describe()

               dist
count  17793.000000
mean      16.254310
std       65.197895
min        0.016024
25%        0.835914
50%        1.334920
75%        2.875210
max      354.951670